<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Registration confirmed</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Registration confirmed ✨</h1>

    <div class="subtitle">
        Your spot has been reserved.
    </div>

    <p style="color:#7a6a3a; font-size:14px; line-height:1.7; margin-bottom:22px;">
        Thank you for confirming your attendance at
        <strong>The Living-Room Worship</strong>.<br><br>
        To receive all announcements, reminders, and important updates,
        Join our official Whatsapp channel
    </p >

    <a href="https://whatsapp.com/channel/0029Vb6wQhtCcW4xdlekeS3S"
       target="_blank"
       style="
        display:block;
        text-decoration:none;
        padding:14px;
        background:linear-gradient(135deg,#d4af37,#a67c00);
        color:white;
        font-weight:500;
        border-radius:12px;
        margin-bottom:18px;
       ">
        👉 Join the WhatsApp channel
    </a >

    <div class="footer-text">
        Upper Room • Living-Room Worship
    </div>
</div>

</body>
</html>
